<!DOCTYPE html>
<html lang="en" data-footer="true" data-color="dark-blue">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <title>RCA Youtube Tool</title>
    <meta name="description"
          content="Home screen that contains stats, charts, call to action buttons and various listing elements.">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/assets/img/favicon/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/img/favicon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/img/favicon/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/img/favicon/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/img/favicon/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/img/favicon/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/img/favicon/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="/assets/img/favicon/favicon-128.png" sizes="128x128">
    <meta name="application-name" content="&nbsp;">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="img/favicon/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="img/favicon/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="img/favicon/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="img/favicon/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="img/favicon/mstile-310x310.png">
    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600&amp;display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/font/CS-Interface/style.css">
    <link rel="stylesheet" href="/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/glide.core.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/glide.core.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/introjs.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/select2.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/select2-bootstrap4.min.css">
    <link rel="stylesheet" href="/assets/css/vendor/plyr.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <script src="/assets/js/base/loader.js"></script>
</head>

<body>
<div class="loader">
    <h3>Scraping is in progress, please wait...</h3>
</div>
<div id="root">
    <main>
        <div class="container">

            <div class="header-area">
                <img class="logo-image" src="/assets/img/logo/youtube-tool-logo.png" alt="">
                <div class="menu-items">
                    <a href="/">Home</a>
                    <a href="/video-detail">Video Detail</a>
                    <a href="/comments">Comments</a>
                </div>

            </div>