<%- include('header.ejs') %>

<div class="row">
    <div class="col-12 col-xl-12 col-xxl-12 mb-5">

        <section class="scroll-section" id="inlineForms">
            <div class="card mb-5 search-tool-bar">
                <div class="card-body">
                    <form action="/" class="row row-cols-lg-auto g-3 align-items-center">
                        <div class="col-12">
                            <div class="input-group">
                                <input type="text" class="form-control" id="search_field" name="search_query" placeholder="learn chess online" required>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Search Videos</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4 g-2 mb-5">

        </div>

    </div>

</div>


<%- include('footer.ejs') %>